<div class="modal-header border-0 m-2 mb-0">
  <h4 class="modal-title pull-left" [translate]="'Registrations.ClassSectionSelectionTitle'"></h4>
  <button type="button" class="close pull-right" (click)="_bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ml-2 mr-2 pt-0 mt-n2">
  <p class="mb-4" [translate]="'Registrations.ClassSectionSelectionMessage'"></p>
  <div *ngIf="!isLoading">
    <div class="custom-control custom-radio mt-2 mb-3" *ngFor="let section of sections; let i = index">
      <input  [(ngModel)]="selectedSection" class="custom-control-input" type="radio" id="section{{i}}" name="section" [value]="section" [disabled]="section.maxNumberOfStudents && (section.numberOfStudents >= section.maxNumberOfStudents) || section.active !== 1">
      <label [ngClass]="{ 'text-gray-300 text-dark': section.maxNumberOfStudents && (section.numberOfStudents >= section.maxNumberOfStudents) }" class="pl-2 custom-control-label font-weight-normal font-lg" for="section{{i}}">
        <span> {{section.name}} (</span>
        <span *ngFor="let instructor of section.instructors; let isLast=last">{{instructor.instructor | localize:['familyName']}}{{isLast ? ')' : ', '}}</span>
      </label>
      <div *ngIf="section.active === 1" class="font-xs text-secondary font-weight-light">
        {{section.numberOfStudents}}
        <span *ngIf="section.maxNumberOfStudents"> / </span>
        <span *ngIf="section.maxNumberOfStudents"> {{section.maxNumberOfStudents}} </span>
        {{'Registrations.ClassSectionSelection.Students' | translate}}
      </div>
      <div *ngIf="section.maxNumberOfStudents && (section.numberOfStudents >= section.maxNumberOfStudents)" class="text-danger font-xs">{{'Registrations.ClassSectionSelection.StudentOverflow'|translate}}</div>
      <div *ngIf="section.active !== 1" class="text-danger font-xs">{{'Registrations.ClassSectionSelection.InactiveSection'| translate}}</div>
    </div>
  </div>
  <div *ngIf="isLoading">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-6 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-4 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
    </div>
  </div>
  <div *ngIf="lastError">
    <p class="text-danger" [translate]="'E' + (lastError.status || 500) + '.message'"></p>
  </div>

</div>
<div class="modal-footer border-0 pull-right">
  <button type="button" class="btn btn-success py-2" (click)="selectClassSection(this.selectedSection)" [disabled]="this.selectedSection == null || disabled" [translate]="'Registrations.Choose'"></button>
</div>
