<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>

<h2 class="pb-4 pt-2" [translate]="'RemovalRequestActions.RemovalRequest'"></h2>
<div class="card" *ngIf="removalRequestAction">
  <div class="card-body">
    <div>
      {{'RemovalRequestActions.AlreadyRequested' | translate}} {{this.removalRequestAction.startTime | date: 'dd/MM/yyyy'}} {{'RemovalRequestActions.AndItTs' | translate}}
      {{'Requests.ActionStatusTypes.' + this.removalRequestAction?.actionStatus?.alternateName | translate}}
    </div>
  </div>
</div>
